<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>
            {%- block title -%}
                {{ config.SERVICE_NAME }}
            {%- endblock -%}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <h1>
        <a href="{{ url_for('user.home') }}">{{ config.SERVICE_NAME }}</a>
    </h1>
    <nav>
        <ul>
            {% if not current_user %}
                <li>
                    <a href="{{ url_for('user.login') }}">
                        {% trans -%} Sign in with Twitter {%- endtrans %}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ url_for('user.profile', screen_name=current_user.screen_name) }}">
                        {{ current_user.screen_name }}
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('user.logout') }}">
                        {% trans -%} Sign out {%- endtrans %}
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ url_for('canvas.new') }}">
                    {% trans -%} New canvas {%- endtrans %}
                </a>
            </li>
        </ul>
    </nav>
</header>
{% block body %}
{% endblock %}
</body>
</html>
