{% extends 'base.html' %}

{% block body %}
    <p>
        {% trans name=config.SERVICE_NAME -%}
            {{ name }} is a place where anyone can create and share their drawings.
        {%- endtrans %}
    </p>
    {% if recent_canvases %}
        <h2>{% trans -%} Recent canvases {%- endtrans %}</h2>
        <ol>
            {% for canvas in recent_canvases %}
                <li>
                    <a href="{{ url_for('canvas.view', screen_name=canvas.artist.screen_name, canvas_id=canvas.id) }}">
                        <img src="{{ canvas.get_url() }}" class="{% if canvas.broadcast %}broadcast{% endif %}">
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
