{% extends 'base.html' %}
{% block body %}
    <h2>
        <a href="{{ url_for('user.profile', screen_name=user.screen_name) }}">
            {{ user.screen_name }}
        </a>
    </h2>
    {% if user.canvases %}
        <h3>
            {% trans number=user.canvases|count -%}
                {{ number }} canvas
            {%- pluralize -%}
                {{ number }} canvases
            {%- endtrans %}
        </h3>
        <ul>
            {% for canvas in user.canvases %}
                <li>
                    <a href="{{ url_for('canvas.view', screen_name=user.screen_name, canvas_id=canvas.id) }}">
                        {% if canvas.title %}
                            {{ canvas.title }}
                        {% else %}
                            {% trans -%} Untitled {%- endtrans %}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
