{% extends 'base.html' %}

{% block title %}
    {{ user.screen_name }}
{% endblock %}

{% block body %}
    <h2>
        <a href="{{ url_for('user.profile', screen_name=user.screen_name) }}">
            {{ user.screen_name }}
        </a>
    </h2>
    <ul>
        <li>
            {% trans number=user.canvases|count -%}
                {{ number }} canvas
            {%- pluralize -%}
                {{ number }} canvases
            {%- endtrans %}
        </li>
        <li>
            {% trans number=strokes -%}
                {{ number }} stroke
            {%- pluralize -%}
                {{ number }} strokes
            {%- endtrans %}
        </li>
    </ul>
    {% if user.canvases %}
        <h3>{% trans -%} Canvases {%- endtrans %}</h3>
        <ol>
            {% for canvas in user.canvases|reverse %}
                <li>
                    <a href="{{ url_for('canvas.view', screen_name=user.screen_name, canvas_id=canvas.id) }}">
                        {% if canvas.title %}
                            {{ canvas.title }}
                        {% else %}
                            {% trans -%} Untitled {%- endtrans %}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
