{% extends 'base.html' %}

{% block title %}
    {% trans -%} New canvas {%- endtrans %}
{% endblock %}

{% block body %}
    <object id="wacom" type="application/x-wacomtabletplugin"></object>
    <canvas id="canvas" width="600" height="300"></canvas>
    <aside>
        <ul>
            <li>
                <label for="width">{% trans -%} Width {%- endtrans %}</label>
                <input type="number" id="width" value="600">
            </li>
            <li>
                <label for="height">{% trans -%} Height {%- endtrans %}</label>
                <input type="number" id="height" value="300">
            </li>
        </ul>
        <ul>
            <li>
                <label for="eraser">{% trans -%} Eraser {%- endtrans %}</label>
                <input type="checkbox" id="eraser">
            </li>
            <li>
                <label for="color">{% trans -%} Color {%- endtrans %}</label>
                <input type="color" id="color" value="#000000">
            </li>
            <li>
                <label for="radius">{% trans -%} Radius {%- endtrans %}</label>
                <input type="range" id="radius" value="10" min="1" step="1">
            </li>
            <li>
                <label for="flow">{% trans -%} Flow {%- endtrans %}</label>
                <input type="range" id="flow" value="1" max="1" step="0.01">
            </li>
            <li>
                <label for="spacing">{% trans -%} Spacing {%- endtrans %}</label>
                <input type="range" id="spacing" value="0.5" min="0.1" max="5" step="0.1">
            </li>
        </ul>
        <form id="save" action="{{ url_for('canvas.add', screen_name=current_user.screen_name) }}" method="POST">
            <ul>
                <li>
                    <input id="title" type="text" placeholder="{% trans -%} Title {%- endtrans %}">
                </li>
                <li>
                    <textarea id="description" placeholder="{% trans -%} Description {%- endtrans %}"></textarea>
                </li>
                <li>
                    <input id="submit" type="submit" value="{% trans -%} Save {%- endtrans %}" >
                </li>
            </ul>
        </form>
    </aside>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='canvas.js') }}"></script>
{% endblock %}
