{% extends 'canvas/canvas_base.html' %}

{% block title %}
    {% if canvas.title %}
        {{ canvas.title }}
    {% else %}
        {% trans -%} Untitled {%- endtrans %}
    {% endif %}
{% endblock %}

{% block body %}
    <h2>
        <a href="{{ url_for('canvas.view', screen_name=canvas.artist.screen_name, canvas_id=canvas.id) }}">
            {% if canvas.title %}
                {{ canvas.title }}
            {% else %}
                {% trans -%} Untitled {%- endtrans %}
            {% endif %}
        </a>
    </h2>
    <ul>
        <li>
            <a rel="author" href="{{ url_for('user.profile', screen_name=canvas.artist.screen_name) }}">{{ canvas.artist.screen_name }}</a>
        </li>
        {% if canvas.artist == current_user %}
            <li>
                <a href="{{ url_for('canvas.edit_form', screen_name=canvas.artist.screen_name, canvas_id=canvas.id) }}">{% trans -%} Edit {%- endtrans %}</a>
            </li>
        {% endif %}
    </ul>
    <img id="replay_canvas" src="{{ canvas.get_url() }}">
    <aside>
        <input id="replay" type="button" value="{% trans -%} Replay {%- endtrans %}">
    </aside>
    {% if canvas.description %}
        <p>
            {{ canvas.description }}
        </p>
    {% endif %}
    {{ super() }}
{% endblock %}
