{% extends 'canvas/canvas_base.html' %}

{% block title %}
    {% if canvas.title %}
        {{ canvas.title }}
    {% else %}
        {% trans -%} Untitled {%- endtrans %}
    {% endif %}
{% endblock %}

{% block body %}
    <h2>
        <a href="{{ url_for('canvas.view', screen_name=canvas.artist.screen_name, canvas_id=canvas.id) }}">
            {% if canvas.title %}
                {{ canvas.title }}
            {% else %}
                {% trans -%} Untitled {%- endtrans %}
            {% endif %}
        </a>
    </h2>
    <ul>
        <li>
            {{ canvas.created_at|dateformat }}
        </li>
        <li>
            <a rel="author" href="{{ url_for('user.profile', screen_name=canvas.artist.screen_name) }}">{{ canvas.artist.screen_name }}</a>
        </li>
        {% if canvas.artist == current_user %}
            <li>
                <a href="{{ url_for('canvas.edit_form', screen_name=canvas.artist.screen_name, canvas_id=canvas.id) }}">{% trans -%} Edit {%- endtrans %}</a>
            </li>
        {% endif %}
    </ul>
    {% if canvas.broadcast %}
        {% if current_user == canvas.artist or current_user in canvas.collaborators %}
            <canvas id="drawing-canvas" width="{{ canvas.width }}" height="{{ canvas.height }}" class="broadcast"></canvas>
            <aside id="drawing-tools">
                {{ canvas_editor(canvas) }}
            </aside>
        {% else %}
            <canvas id="broadcast-canvas" width="{{ canvas.width }}" height="{{ canvas.height }}" class="broadcast"></canvas>
        {% endif %}
        {% if current_user and current_user != canvas.artist and current_user not in canvas.collaborators %}
            <input id="collaboration-request-button" type="button" value="{% trans -%} Request Collaboration {%- endtrans %}">
        {% endif %}
        {% if canvas.collaborators %}
            <h3>
                {% trans -%} Collaborators {%- endtrans %}
            </h3>
            <ul>
                {% for collaborator in canvas.collaborators %}
                    <li>
                        <a href="{{ url_for('user.profile', screen_name=collaborator.screen_name) }}">{{ collaborator.screen_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <img id="replay-canvas" src="{{ canvas.get_url() }}">
        {% if canvas.replay %}
            <input id="replay-button" type="button" value="{% trans -%} Replay {%- endtrans %}">
        {% endif %}
        {% if canvas.description %}
            <p>
                {{ canvas.description }}
            </p>
        {% endif %}
    {% endif %}
    {{ super() }}
    {% if canvas.broadcast and current_user == canvas.artist %}
        <aside id="collaboration">
            <h3>{% trans -%} Collaboration Requests {%- endtrans %}</h3>
            <div id="collaboration-requests"></div>
            <p>{% trans -%} Share the following link to broadcast and collaborate: {%- endtrans %}</p>
            <p>{{ url_for('canvas.view', screen_name=canvas.artist.screen_name, canvas_id=canvas.id, _external=True) }}</p>
        </aside>
        <script src="//fb.me/react-0.12.0.js"></script>
        <script src="{{ url_for('static', filename='js/collaborate.js') }}"></script>
    {% endif %}
{% endblock %}
