*.egg-info
*.pyc
*.swp
.DS_Store
.idea
.module-cache
dist
docs/_build
dump.rdb
favien/web/static/js/build
favien/web/translations/*/LC_MESSAGES/messages.mo
favien/web/translations/messages.pot
instance
