*.egg-info
*.pyc
*.swp
.DS_Store
.idea
.module-cache
build
dist
docs/_build
dump.rdb
favien/web/static/js/collaborate.js
favien/web/translations/*/LC_MESSAGES/messages.mo
favien/web/translations/messages.pot
instance
